.shop-dropdown::before {
   content: "";
   height: 2rem;
   width: 5rem;
   position: absolute;
   left: 12.5rem;
   transform: translateY(100%);
   background-color: transparent;
}
.shop-list {
   display: none;
}
.shop-dropdown:hover .shop-list {
   display: flex;
}

.cart:hover .quantity-items {
   background-color: #F47979;
   color: white;
}